.nav {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;

    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
